@charset "utf-8";

/* CSS Document */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.container {
    width: 1080px;
    margin: 0 50px 20px 50px;
}

.menu-circle-mobile {
    color: #ffffff;
    stroke: #ffffff;
    stroke-width: 3px;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 auto;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #DA5700;
}

::selection {
    color: #ffffff;
    background: #000000;
}

.h1 {
    margin-left: -3px;
    font-size: 58px;
    line-height: 60px;
    letter-spacing: -2px;
    font-weight: 700;
}

.b1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    opacity: 0.4;
    padding-right: 10px;
}

.h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
}

.h3 {
    margin-top: 1px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 1;
    color: #DA5700;
    margin-bottom: 30px;
}

.accent {
    color: #DA5700;
    opacity: 1;
}


.row-containers {
    display: flex;
    flex-direction: row;
}

.three-col {
    display: flex;
    flex: 3;
}

.two-col {
    display: flex;
    flex: 2;
}

.one-col {
    flex: 1;
    min-width: 270px;
}

.one-half-col {
    flex: 1.5;
}

.half-col {
    flex: 0.5;
}

.float-item {
    display: flex;
}


header {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid;
}

.category-filter {
    padding-top: 15px;
}

.category-list-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-top: 1px solid;
    padding: 10px 0 20px 0;
}

.category-list-item-1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 20px 0;
}

.project-list {
    margin: 0;
    padding-bottom: 50px;
}

.project-item {
    margin: 0;
    padding: 25px 0 25px 0;
}

.project-item-image {
    background: #cccccc;
    margin-right: 30px;
    height: 150px;
    align-content: center;
    object-fit: cover;
}

.image {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.project-item-content {
    margin: 0;
    padding: 15px 0 15px 0;
    border-top: 1px solid;
}

.icon {
    float: right;
    margin: 0 0 0 auto;
    padding-top: 4px;
    display: flex;
    justify-content: flex-end;
    stroke: #000000;
    stroke-width: 2px;
    opacity: 1;
}

.next-page {
    margin: 0;
    padding: 15px 0 50px 0;
    border-top: 1px solid;
}

.next-page-content {
    margin: 0;
    padding-top: 15px;
}

p {
    padding: 0;
    margin-top: 0;
}

.image-train {
    margin: 30px 0 30px 0;
}

.image-train-images {
    margin: -4px 0 0 0;
    padding: 0;
    width: 100%;
}

.next-project-image {
    width: 100%;
    position: relative;
    clip: rect(0, 100%, 200px, 200px);
}

.project-info {
    white-space: pre-line;
    margin-bottom: 30px;
    
}

.my-image {
    z-index: -50;
    width: 100%;
}

.my-image-container {
    width: 500px;
    z-index: -100;
    margin: 125px 50px -350px auto;
}

.personal-interests {
    border-top: 1px solid;
    padding-top: 30px;
}

.interests-list {
    flex-direction: column;
}

.interests-list-item {
    margin-bottom: 30px;
}

.contact-list {
    flex-direction: column;
}

.contact-list-item {
    margin-bottom: 30px;
}

.big-circle {
    background: #DA5700;
}

.gap-2x {
    height: 200px;
}

.gap-1x {
    height: 100px;
}

.only-mobile {
    display: none;
}

.no-margin {
    margin: 0;
}

@media only screen and (max-width: 992px) {
    .one-col {
        min-width: auto;
    }
    .container {
        margin-right: 20px;
        margin-left: 20px;
    }
    .row-containers {
        flex-direction: column;
    }
    .project-item {
        flex-direction: column-reverse;
    }
    .project-item-image {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .project-item-content {
        padding-top: 10px;
        margin-bottom: 0px;
    }
    .project-item-content>p {
        display: none;
    }

    .project-item-content>.project-info{
        margin-bottom: 0;
    }

    .image-train {
        margin: 25px 0 25px 0;
    }
    .next-page-content {
        flex-direction: row;
    }
    .personal-interests {
        padding-top: 15px;
    }
    .gap-1x {
        height: 50px;
    }
    .gap-2x {
        height: 100px;
    }
    .my-image-container {
        width: 100%;
        z-index: -100;
        margin: 50px 0 50px 0;
    } 
    .no-mobile {
        display: none;
    }

    .only-mobile {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 800px;
    }
    .one-col {
        width: 200px;
    }
    .my-image-container {
        margin-right: 0;
    }
    .project-item-content>p {
        display: none;
    }
}


